@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể thêm font chữ hoặc tùy chỉnh scrollbar tại đây */
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}